@import "../../styles/breakpoints";

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 20px;
}

@media (min-width: $mobile) {
  .container {
    padding: 15px;
  }
}
@media (min-width: $tablet) {
  .container {
    padding: 20px;
  }
}
