@import "../../../styles/colors";
@import "../../../styles/breakpoints";

.introCopyWrapper {
  box-shadow: 0 0 15px 4px rgba(177, 177, 177, 0.2);
  padding: 60px 25px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(-200px);
  background-color: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  .title {
    color: $titleColor;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
  }
  .copy {
    color: $copyColor;
    text-align: center;
    max-width: 500px;
    letter-spacing: 1px;
  }
}

@media (min-width: $tablet) {
  .introCopyWrapper {
    .title {
      color: $titleColor;
      text-align: center;
      font-size: 1.7rem;
      font-weight: 700;
    }
    .copy {
      color: $copyColor;
      text-align: center;
      max-width: 750px;
      font-size: 1.1rem;
    }
  }
}
