@import "../../../../styles/colors";
@import "../../../../styles/breakpoints";

.sidebar {
  display: none;
}

@media (min-width: $laptop) {
  .sidebar {
    display: block;
    grid-column: 9 / 13;
  }
}
