@import "../../styles/colors";
@import "../../styles/breakpoints";

.navLaptopWrapper {
  display: none;
}

@media (min-width: $laptop) {
  // 1 Level
  .navLaptopWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 1.2rem;
    // height: 53px;
    // 2 Level
    .flexSides {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      // 3 Level
      .outerLinksArea {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        transition: all 200ms;

        .topicsLink {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 5px;
          position: relative;
          padding: 20px 0;

          .innerLinksArea {
            visibility: hidden;
            position: absolute;
            top: 69px;
            left: 0;
            background-color: $red;
            color: $negative;
            width: 250px;

            .innerLinks {
              padding: 20px;
              display: block;
            }
          }
          &:hover {
            .innerLinksArea {
              visibility: visible;
              position: absolute;
              top: 69px;
              left: 0;
              background-color: $red;
              color: $negative;
              width: 250px;

              .innerLinks {
                padding: 20px;
                display: block;
              }
            }
          }

          .dropDownIcon {
            margin-top: 5px;
            font-size: 1.5rem;
          }
        }

        .outerlinks {
          transition: all 200ms;
          &:hover {
            color: $red;
          }
          &:active {
            color: $negative;
          }
        }
      }
      //3 Level
      .searchInputLabel {
        position: relative;
        display: block;

        .searchInputLaptop {
          background-color: white;
          color: $darkBlue;
          height: 40px;
          width: 300px;
          border-radius: 4px;
          padding: 0 5px;
          font-size: 1.2rem;
        }
        .searchIcon {
          position: absolute;
          right: 10px;
          color: $darkBlue;
          top: 10px;
        }
      }
      //3 Level
      .authArea {
        display: flex;
        gap: 30px;

        .loginLink {
          transition: all 200ms;
          &:hover {
            color: $red;
          }
          &:active {
            color: $negative;
          }
        }
        .registerLink {
          transition: all 200ms;
          &:hover {
            color: $red;
          }
          &:active {
            color: $negative;
          }
        }
      }
    }
  }
}

@media (min-width: $desktop) {
  // 1 Level
  .navLaptopWrapper {
    // 2 Level
    .flexSides {
      // 3 Level
      .outerLinksArea {
        gap: 30px;
      }
    }
  }
}
