@import "../../../styles/colors";
@import "../../../styles/breakpoints";

.travelTopicsSection {
  .travelTopicsWrapper {
    .title {
      font-size: 1.7rem;
      font-weight: 700;
      text-align: center;
      color: $titleColor;
      margin-bottom: 10px;
    }
    .copy {
      text-align: center;
      color: $copyColor;
      max-width: 500px;
      margin: 0 auto 25px;
    }
  }
}

@media (min-width: $smallTablet) {
  .travelTopicsSection {
    .travelTopicsWrapper {
      .copy {
        margin: 0 auto 40px;
      }
    }
  }
}

@media (min-width: $tablet) {
  .travelTopicsSection {
    .travelTopicsWrapper {
      .title {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        color: $titleColor;
        margin-bottom: 10px;
      }
      .copy {
        text-align: center;
        color: $copyColor;
        max-width: 600px;
        margin: 0 auto 45px;
        font-size: 1.2rem;
      }
    }
  }
}
