@import "../../styles/colors";
@import "../../styles/breakpoints";

.footer {
  background-color: $titleColor;
  color: white;

  .footerWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    max-width: 1366px;
    padding: 50px 20px;
  }
}

@media (min-width: $smallTablet) {
  .footer {
    .footerWrapper {
      flex-direction: row;
      justify-content: space-between;
      padding: 30px;
    }
  }
}
