@import "../../../styles/colors";
@import "../../../styles/breakpoints";

.travelTopicsSection {
  .travelTopicsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .title {
      font-size: 1.7rem;
      font-weight: 700;
      text-align: center;
      color: $titleColor;
    }
    .copy {
      text-align: center;
      color: $copyColor;
      margin-bottom: 20px;
    }
  }
}
