@import "../../styles/colors";
@import "../../styles/breakpoints";

.authSection {
  .authWrapper {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    .authTitle {
      font-size: 1.8rem;
      font-weight: 700;
      letter-spacing: 1px;
    }
    .underTitle {
      margin: 10px 0 20px;
      letter-spacing: 0.2px;
      font-size: 1.1rem;

      .underTitleSpans {
        color: $blue;
        font-weight: 700;
        margin-left: 6px;
      }
    }
    .closeIcon {
      font-size: 1.8rem;
      cursor: pointer;
      position: absolute;
      top: 32px;
      right: 20px;
    }
  }
}

@media (min-width: $smallTablet) {
  .authSection {
    .authWrapper {
      padding: 40px;
      min-width: 600px;
      border-radius: 20px;

      .closeIcon {
        position: absolute;
        top: 40px;
        right: 40px;
      }
    }
  }
}
