@import "../../../styles/colors";
@import "../../../styles/breakpoints";

.authArea {
  display: flex;
  gap: 30px;

  .loginLink {
    transition: all 200ms;
    &:hover {
      color: $red;
      cursor: pointer;
    }
    &:active {
      color: $negative;
      cursor: pointer;
    }
  }
  .registerLink {
    transition: all 200ms;
    &:hover {
      color: $red;
      cursor: pointer;
    }
    &:active {
      color: $negative;
      cursor: pointer;
    }
  }
}
