@import "../../../styles/colors";
@import "../../../styles/breakpoints";

.nav {
  position: relative;
  height: 100%;
  .visibleNavLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: all 200ms;
    margin-right: 10px;
    height: 100%;

    .categoriesHover {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      height: 88px;
      transition: all 300ms;
      cursor: pointer;

      .categoriesLinks {
        position: absolute;
        visibility: hidden;
        opacity: 0;
      }

      &:hover {
        .categoriesLinks {
          visibility: visible;
          opacity: 100;
          position: absolute;
          top: 88px;
          left: 0;
          .categoryLink {
            transition: all 300ms;
            background-color: $offWhite;
            display: block;
            padding: 25px 40px;
            color: $darkBlue;
            &:hover {
              color: white;
              background-color: $darkBlue;
            }
          }
        }
      }
    }

    .outerlinks {
      transition: all 200ms;
      &:hover {
        color: $red;
      }
      &:active {
        color: $negative;
      }
    }
  }
}

@media (min-width: $desktop) {
  .outerLinksArea {
    gap: 30px;
  }
}
