@import "../../../styles/colors";
@import "../../../styles/breakpoints";

.searchInputLabel {
  position: relative;
  display: block;

  .searchInputLaptop {
    background-color: white;
    color: $darkBlue;
    height: 40px;
    width: 300px;
    border-radius: 4px;
    padding: 0 5px;
    font-size: 1.2rem;
  }
  .searchIcon {
    position: absolute;
    right: 10px;
    color: $darkBlue;
    top: 10px;
  }
}
