// Typography
$lora: "Lora";
$lato: "Lato";

// Colors
$red: #cf4a2b;
$darkBlue: #192126;
$offWhite: #f5f5f5;
$titleColor: #192126;
$copyColor: #52585b;
$smallTextColor: #757a7d;
$underFooter: #242e34;
$lightGray: #e4e4e4;
$almostGray: #f0eded;
$blue: #0074bc;
$negative: white;
