@import "the-new-css-reset/css/reset.css";
@import "./styles/colors";
@import "./styles/breakpoints";

// Typography
$lora: "Lora";
$lato: "Lato";

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $lora;
}

p,
li,
a,
small,
span,
strong,
label,
input,
button {
  font-family: $lato;
}

body {
  background-color: $offWhite;
}
