@import "the-new-css-reset/css/reset.css";

// Typography
$lora: "Lora";
$lato: "Lato";

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $lora;
}

p,
li,
a,
small,
span,
strong,
input {
  font-family: $lato;
}
